<!doctype html>

<html lang="en" ng-app="todo">
  <head>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/todoController.js"></script>

    <style>
      * { font-family: Helvetica }
      .done-true{
        text-decoration: line-through;
      }
    </style>

  </head>

  <body ng-controller="todo as todo">

    <div class="filters">
      <a href="#" id="all" ng-click="myFilter = undefined">All</a>
      <a href="#" id="active" ng-click="myFilter = {done: false}">Active</a>
      <a href="#" id="completed" ng-click="myFilter = {done: true}">Completed</a>
    </div>

    <form>
      <input type="text" ng-model="todo.taskToAdd">
      <button class="btn" ng-click="todo.addTask(todo.taskToAdd)">add task</button>
    </form>

    <ul class="task-list" ng-repeat="todo in todo.taskList | filter: myFilter">
      <li>
        <input type="checkbox" ng-model="todo.done" ng-click="todo.markAsDone()" class="chbx">
        <span class="done-{{todo.done}}">{{todo.task}}</span>
      </li>
    </ul>

    <p>Task count: {{todo.count}} </p>
    <p>Completed tasks: {{todo.completedCount}}</p>

  </body>

</html>