<!doctype html>

<html lang="en" ng-app="todo">
  <head>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/todoController.js"></script>

    <style>
      * { font-family: Helvetica }
      .done-true{
        text-decoration: line-through;
      }
    </style>

  </head>

  <body ng-controller="todo as todo">
    <form>
      <input type="text" ng-model="todo.taskToAdd">
      <button class="btn" ng-click="todo.addTask(todo.taskToAdd)">add task</button>
    </form>

    <ul class="task-list" ng-repeat="todo in todo.taskList">
      <li>
        <input type="checkbox" ng-model="todo.done" class="chbx">
        <span class="done-{{todo.done}}">{{todo.task}}</span>
      </li>
    </ul>

  </body>

</html>